<heading>
  <h1>Análisis de <i><%= params[:f] %></i></h1>
</heading>

<aside id="reference" class="well">
  <h3>Referencia</h3>
  <ul class="inline">
    <li><span class="block ned people"></span> Personas</li>
    <li><span class="block ned organizations"></span> Organizaciones</li>
    <li><span class="block ned places"></span> Lugares</li>
    <li><span class="block ned date"></span> Fechas</li>
    <li><span class="block ned others"></span> Otros</li>
  </ul>
</aside>

<% if @document %>
<article class="tokens">
  <% @document.tagged_sentences.each do |sentence| %>
    <p>
      <% sentence.each do |token| %>
        <span class="<%= "ned #{token.class}" if token.named_entity? or token.date? %>"><%= token.form.gsub('_', ' ') %></span>
      <% end %>
    </p>
  <% end %>
</article>
<% end %>
