<heading>
  <h1>Análisis de <i><%= params[:f] %></i></h1>
</heading>

<aside id="reference" class="well">
  <h3>Referencia</h3>
  <ul class="inline">
    <li><span class="block ne people"></span> Personas</li>
    <li><span class="block ne organizations"></span> Organizaciones</li>
    <li><span class="block ne places"></span> Lugares</li>
    <li><span class="block ne date"></span> Fechas</li>
    <li><span class="block ne others"></span> Otros</li>
  </ul>
</aside>

<% if @document %>
<article class="tokens">
  <%= tagged_document_html(@document) %>
</article>
<% end %>
