body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.tokens p {
  line-height: 28px;
  font-size: 14px;
}
.tokens span {
  cursor: pointer;
  padding: 3px 4px;
  margin: 0 -3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.tokens span:hover {
  color: #000;
  background-color: #eee;
}
.ned {
  color: white;
  background-color: gray;
}
.ned.people {
  background-color: red;
}
.ned.organizations {
  background-color: blue;
}
.ned.others {
  background-color: #aaa;
}
.ned.places {
  color: black;
  background-color: yellow;
}
.ned.date {
  background-color: green;
}

.block {
  display: inline-block;
  width: 8px;
  height: 10px;
}

ul.inline {
  margin-left: 0;
  list-style-type: none;
}
ul.inline li {
  display: inline;
}

aside {
  margin: 30px 0;
}
