body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.tokens p {
  line-height: 28px;
  font-size: 14px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.tk, .ne {
  cursor: pointer;
  padding: 3px 4px;
  margin: 0 -3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/*
.tk:hover {
  color: #000;
  background-color: #eee;
}
.ne:hover {
  color: #fff
  background-color: inherit;
}
.ne:hover .tk:hover {
  color: inherit;
  background-color: inherit;
}
*/
.ne {
  color: white;
  background-color: gray;
}
.ne.people {
  background-color: red;
}
.ne.organizations {
  background-color: blue;
}
.ne.others {
  background-color: #aaa;
}
.ne.places {
  color: black;
  background-color: yellow;
}
.ne.dates {
  background-color: green;
}

.block {
  display: inline-block;
  width: 10px;
  height: 4px;
  margin: 0 2px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

ul.inline {
  margin-left: 0;
  list-style-type: none;
}
ul.inline li {
  display: inline;
}

aside {
  margin: 30px 0;
}

.selection {
  position: absolute;
  border: 1px solid #89B;
  background: #BCE;
  background-color: #BEC;
  border-color: #8B9;
}
.active {
  color: #000;
  background-color: #8f8;
}
.dropped {
  color: #000;
  background-color: #f88;
}
